
@{
    ViewBag.Title = "Index";
}

@model PagedList.IPagedList<Code_First_Jashim.Models.Books>
@using PagedList.Mvc;

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book List</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <div class="container" style="margin-top: 20px;">
        <h3>Books List</h3>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table border="1" class="table table-bordered ">
            <tr>

                <th>BookID              </th>
                <th>Title               </th>
                <th>Author              </th>
                <th>Description         </th>
                <th>CategoryID          </th>
                <th>Added Time          </th>
                <th>Availability Status </th>

            </tr>

            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.BooksID      </td>
                    <td>@book.Title        </td>
                    <td>@book.Author       </td>
                    <td>@book.Description  </td>
                    <td>@book.CategoryID   </td>
                    <td>@book.AddedTime    </td>
                    <td>@book.Availability    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = book.BooksID }, new { @class = "fa fa-pencil fa-lg" })  |
                        @Html.ActionLink("Details", "Details", new { id = book.BooksID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = book.BooksID }, new { @class = "fa fa-trash fa-lg" })

                    </td>
                </tr>

            }

        </table>
        <br />
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Books

    </div>
</body>
</html>
