@model Code_First_Jashim.Models.BookIssueLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookIssueLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookIssue.IssueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookIssue.IssueID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
