@model Code_First_Jashim.Models.FineRecords

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FineRecords</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Members.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teachers.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FineAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FineAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
