@model Code_First_Jashim.Models.FineRecords

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FineRecords</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Members.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teachers.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FineAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FineAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
